  <!-- Footer -->
  <footer class="footer" style="background-color:white">
    <div class="container">
	  <div class="row">
		<div class="col-lg-8 mx-auto text-center">
		  <div class="large text-muted">{{ site.data.sitetext.footer.slogan | markdownify }}</div>
		</div>
	  </div>
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="legal">{{ site.data.sitetext.footer.legal | default: Privacy Policy }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->